body{
    background-color: rgb(127, 174, 174);
}

ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    list-style-type: none;
}

button{
    background-color: azure;
    border-radius: 6px;
    padding: 1em;
    font-size: 0.8em;
    cursor: pointer;
}

div{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}